/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap"); */

* {
  padding: 0;
  outline: 0;
  margin: 0;
  font-family: "poppins";
  /* Fredoka One */
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
  /* border: 2px solid #000000; */
}

nav > img {
  margin-left: 100px;
}

.nav-items {
  width: 900px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  margin-left: 120px;
}

.nav-item {
  font-weight: 400;
}

.active-item {
  color: #fe5e35;
  font-size: 26px;
  font-weight: 800;
}

.intro-section {
  display: flex;
}

.left-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 130px;
  margin-left: 100px;
  width: 1000px;
}

div.left-section > h3 {
  font-size: 50px;
  font-weight: 400;
}

div.left-section > h1 {
  font-family: "Fredoka One";
  font-size: 100px;
  font-weight: 800px;
}
.sub-headlines {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
  margin-top: 40px;
}

.sub-headlines > h5 {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 400;
}

.sub-headline > img {
  background-color: #fe5e35;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  padding: 8px;
  position: relative;
  top: 10px;
  margin-right: 10px;
}

.text {
  width: 860px;
  font-size: 17px;
  margin: 40px 0px;
  color: #979797;
}
.action-btn {
  margin-right: 25px;
}

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.headphone-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 80px;
  margin-top: 60px;
}

.discount {
  order: 3;
  height: 175px;
  width: 175px;
  position: relative;
  top: -350px;
  left: -270px;
  z-index: -10px;
  filter: drop-shadow(5px 10px 0px #1d1c1c5b);
}

.discount-content {
  color: #ffffff;
  position: relative;
  top: -210px;
  left: -260px;
  z-index: -10px;
  order: 2;
}

.discount-content > h1 {
  font-size: 52px;
  /* text-align: center; */
  font-family: "Fredoka One";
}

.discount-content > h4 {
  margin-left: 10px;
}
img[alt="headphone"] {
  order: 1;

  /* position: absolute;
  top: 150px;
  left: 1200px; */
}

.dots {
  margin-top: -260px;
  margin-bottom: 20px;
  margin-left: 90px;
  display: flex;
  gap: 40px;
}

.dot {
  height: 30px;
  width: 30px;
  /* border: none; */
  border-radius: 50%;
}

.yellow-dot {
  background-color: #fbd104;
}

.tomato-dot {
  background-color: #fe5e35;
}

.black-dot {
  background-color: #000000;
}

.action-btn {
  height: 70px;
  width: 220px;
  border-radius: 45px;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  border: none;
  background-color: #fe5e35;
}

div.right-section > button {
  margin-left: 130px;
}
