/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap"); */

* {
  padding: 0;
  outline: 0;
  margin: 0;
  overflow: none;
  font-family: "poppins";
  /* Fredoka One */
}

body{
    height: 96vh;
    padding-top: 4vh;
}

nav {
  overflow: clip;
  width: 92vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  
  /* border: 2px solid #000000; */
}

nav>img[alt="logo"]{
  align-self: center;
  max-width: 100%;
  height: 5vh;
}

nav>img[alt="actions"]{
 margin-right: -4vw;
}

.nav-items {
  font-family: "Poppins";
  width: 35vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.4rem;
  margin-left: 7rem;
}

.nav-item {
  font-weight: 400;
}

.nav-item:hover {
  font-family: "Poppins";
  color: #fe5e35;
  font-size: 1.4rem;
  font-weight: 700;
}

nav>i.fa-solid{
  display: none;
}

.intro-section {
  width: 92vw;
  height: 85vh;
  margin: auto;
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-section {
  width: 60vw;
  height: 78vh;
  display: flex;
  flex-direction: column; 
  justify-content: flex-end;
}

div.left-section > h3 {
  font-size: 2.5rem;
  font-weight: 400;
}

div.left-section > h1 {
  font-family: "Fredoka One";
  font-size: 80px;

}

.sub-headlines {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  margin-top: 5vh;
}

.sub-headlines > h5 {
  margin-bottom: 1vh;
  font-size: 26px;
  font-weight: 400;
}

.sub-headline > img {
  background-color: #fe5e35;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  padding: 8px;
  position: relative;
  top: 10px;
  margin-right: 10px;
}

.text {
  width: 46vw;
  font-size: 15px;
  margin: 5vh 0vw;
  color: #979797;
}

.action-btn {
  margin-right: 2vw;
}

.right-section {
  height: 78vh;
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.headphone-div {
  background-image: url('/images/headphones.jpg');  
  background-repeat: no-repeat;
  background-size: contain;
  height: 60vh;
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 0vw;
  margin-top: 0vh;
}

.discount {
  order: 3;
  height: 135px;
  width: 135px;
  position: relative;
  top: 15vh;
  right: 23vw; 
  z-index: 1;
  filter: drop-shadow(5px 10px 0px #1d1c1c5b);
}

.discount-content {
  color: #ffffff;
 position: relative;
  top: 16vh;
  right: 5.5vw; 
  z-index: 2;
  order: 2;
}

.discount-content > h1 {
  font-size: 38px;
  /* text-align: center; */
  font-family: "Fredoka One";
}

.discount-content > h4 {
  margin-left: 10px;
}

/* img[alt="headphone"] {
  order: 1;
  width: 480px;
  position: relative;
  top: 12vh;
  left: 6vw;
  
} */

.dots {
  /* margin-top: -260px;
  margin-bottom: 20px;
  margin-left: 90px; */
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 3.2vw;
  margin-left: -7vw;
}

.dot {
  height: 26px;
  width: 26px;
  /* border: none; */
  border-radius: 50%;
}

.yellow-dot {
  background-color: #fbd104;
}

.tomato-dot {
  background-color: #fe5e35;
}

.black-dot {
  background-color: #000000;
}

.action-btn {
  border-radius: 45px;
  font-size: 20px;
  font-weight: 400;
  padding: 2vh 2vw;
  color: #ffffff;
  border: none;
  background-color: #fe5e35;
}

div.right-section > button {
  margin-left: -5vw;
}

@media screen and (min-width:1280px) and (max-width:1500px)  {

  nav>img[alt="actions"]{
    height: 6.25vh;
    margin-right: -3vw;
   }

   .left-section {
    width: 60vw;
    height: 78vh;
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;
    gap: 0.3rem;
  }

  div.left-section > h3 {
    font-size: 2rem;
    font-weight: 400;
  }

  h3>img[alt="circles"]{
    height: 2.4rem;
  }

  div.left-section > h1 {
    font-family: "Fredoka One";
    font-size: 3.8rem;
  
  }

  .sub-headlines > h5 {
    margin-bottom: 0.5vh;
    font-size: 1.4rem;
    font-weight: 400;
  }

  .sub-headline > img {
    background-color: #fe5e35;
    height: 0.6rem;
    width: 0.6rem;
    border-radius: 50%;
    padding: 8px;
    position: relative;
    top: 10px;
    margin-right: 10px;
  }

  .text {
    width: 46vw;
    font-size: 13px;
    margin: 5vh 0vw;
    color: #979797;
  }

  .action-btn {
    border-radius: 45px;
    font-size: 16px;
    font-weight: 400;
    padding: 1.5vh 1.5vw;
    color: #ffffff;
    border: none;
    background-color: #fe5e35;
  }

  .discount {
    order: 3;
    height: 115px;
    width: 115px;
    position: relative;
    top: 15vh;
    right: 23vw; 
    z-index: 1;
    filter: drop-shadow(5px 10px 0px #1d1c1c5b);
  }
  
  .discount-content > h1 {
    font-size: 30px;
    /* text-align: center; */
    font-family: "Fredoka One";
  }

  .discount-content > h4 {
    margin-left: 10px;
    font-size: 12px;
  }

  .dots {
    
    margin-left: -3vw;
  }

  div.right-section > button {
    margin-left: -1vw;
  }


}

@media screen and (min-width:913px) and (max-width:1279px) {


  .nav-items {
    font-family: "Poppins";
    width: 35vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    margin-left: 7rem;
  }

  .nav-item:hover {
    font-family: "Poppins";
    color: #fe5e35;
    font-size: 1rem;
    font-weight: 500;
  }

  nav>img[alt="actions"]{
    height: 5vh;
    margin-right: -2.5vw;
   }


   .left-section {
    width: 60vw;
    height: 78vh;
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;
    gap: 0.7rem;
  }


  div.left-section > h3 {
    font-size: 1.4rem;
    font-weight: 400;
  }

  h3>img[alt="circles"]{
    height: 1.6rem;
  }

  div.left-section > h1 {
    /* width: 38vw; */
    font-family: "Fredoka One";
    font-size: 2.8rem;
  
  }

  .sub-headlines > h5 {
    margin-bottom: 0.4vh;
    font-size: 1.1rem;
    font-weight: 400;
  }

  .sub-headline > img {
    background-color: #fe5e35;
    height: 0.4rem;
    width: 0.4rem;
    border-radius: 50%;
    padding: 6px;
    position: relative;
    top: 5px;
    margin-right: 10px;
  }

  .text {
    width: 46vw;
    font-size: 10px;
    margin: 5vh 0vw;
    color: #979797;
  }

  .action-btn {
    border-radius: 45px;
    font-size: 13px;
    font-weight: 400;
    padding: 1.3vh 1.3vw;
    color: #ffffff;
    border: none;
    background-color: #fe5e35;
  }

  .headphone-div {
    background-image: url('/images/headphones.jpg');  
    background-repeat: no-repeat;
    background-size: contain;
    height: 55vh;
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 0vw;
    margin-top: 0vh;
  }

  .discount {
    order: 3;
    height: 95px;
    width: 95px;
    position: relative;
    top: 15vh;
    right: 23vw; 
    z-index: 1;
    filter: drop-shadow(5px 10px 0px #1d1c1c5b);
  }

  .discount-content > h1 {
    font-size: 26px;
    /* text-align: center; */
    font-family: "Fredoka One";
  }

  .discount-content > h4 {
    margin-left: 10px;
    font-size: 10px;
  }

  .dot{
    height: 18px;
    width: 18px;
    /* border: none; */
    border-radius: 50%;
  }

  .dots {
    
    margin-left: 0vw;
  }

  div.right-section > button {
    margin-left: 1.7vw;
  }


}


@media screen and (max-width:912px) {

  body{
    height: max-content;
    overflow: none;
  }

  nav>img[alt="logo"]{
    align-self: center;
    max-width: 100%;
    height: 4vh;
  }
  
  .nav-items {
   display: none;
  }

  nav>img[alt="actions"]{
    height: 5vh;
    margin-right: -4vw;
   }

   .intro-section {
    width: screen;
    height: fit-content;
    /* height: 85vh; */
    margin: auto;
    margin-top: 3vh;
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center
  }

  .left-section {
    width: 90vw;
    /* height: 78vh; */
    margin: auto;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    gap: 1.5vh;
    margin-top: 7vh;
  }

  
  div.left-section > h3 {
    font-size: 2.5rem;
    font-weight: 400;
  }

  h3>img[alt="circles"]{
    height: 3rem;
  }

  div.left-section > h1 {
    /* width: 38vw; */
    font-family: "Fredoka One";
    font-size: 3.5rem;
  
  }

  .sub-headlines > h5 {
    margin-bottom: 0.4vh;
    font-size: 1.6rem;
    font-weight: 400;
  }

  .sub-headline > img {
    background-color: #fe5e35;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    padding: 6px;
    position: relative;
    top: 5px;
    margin-right: 10px;
  }

  .text {
    width: 82%;
    font-size: 15px;
    margin: 5vh 0vw;
    color: #979797;
  }

  .text>br{
    display: none;
  }

  .action-btn {
    border-radius: 45px;
    font-size: 16px;
    font-weight: 400;
    padding: 1.3vh 2.5vw;
    color: #ffffff;
    border: none;
    background-color: #fe5e35;
  }

  .right-section {
    display: block;
    width: 90vw;
    margin: auto;
    margin-top: -3rem;
    padding-left: 2rem;
    gap: 3rem;
  } 

  .headphone-div{
    height: 55vh;
  }

  .discount {
    order: 3;
    height: 135px;
    width: 135px;
    position: relative;
    top: 15vh;
    right: 60vw; 
    z-index: 1;
    filter: drop-shadow(5px 10px 0px #1d1c1c5b);
  }

  .discount-content {
    color: #ffffff;
   position: relative;
    top: 15vh;
    right: 15vw; 
    z-index: 2;
    order: 2;
  }

  .dots {
    width: 90vw;
    margin: auto;
    padding: 0rem;
    margin-left: -8vw;
    margin-top: 4vh;
    /* margin-left: -19vw;
    margin-top: -5vh;
    margin-bottom: -4vh;
    gap: 4.3vw; */
  }

  div.right-section > button {
     display: block;
     margin-left: 28.5vw;
     margin-top: 4vh;
     

  }


}


@media screen and (max-width:520px) {

  body{
    height: max-content;
    overflow: none;
  }

  nav>img[alt="actions"]{
    height: 4vh;
    margin-right: -8vw;
   }
  

   nav>img[alt="logo"]{
    height: 4vh;
   }



   
   .intro-section {
    width: screen;
    height: max-content;
    /* height: 85vh; */
    margin: auto;
    margin-top: 3vh;
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center
  }

  .left-section {
    width: 90vw;
    height: max-content;
    margin: auto;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    gap: 1.5vh;
    margin-top: 7vh;
    margin-bottom: 5vh;
  }


   div.left-section > h3 {
    font-size: 1.8rem;
    font-weight: 400;
  }

  h3>img[alt="circles"]{
    height: 2.1rem;
  }


  div.left-section > h1 {
    /* width: 38vw; */
    font-family: "Fredoka One";
    font-size: 3rem;
  
  }

  .sub-headlines > h5 {
    margin-bottom: 0.4vh;
    font-size: 1.4rem;
    font-weight: 400;
  }

  .sub-headline > img {
    background-color: #fe5e35;
    height: 0.6rem;
    width: 0.6rem;
    border-radius: 50%;
    padding: 6px;
    position: relative;
    top: 5px;
    margin-right: 7px;
  }

  .text {
    width: 82%;
    font-size: 13px;
    margin: 5vh 0vw;
    color: #979797;
  }

  .right-section {
    display: block;
    width: 90vw;
    margin: auto;
    margin-top: 2rem;
    padding-left: 0rem;
    gap: 3rem;
  }
  
  .discount {
    order: 3;
    height: 95px;
    width: 95px;
    position: relative;
    top: 15vh;
    right: 60vw; 
    z-index: 1;
    filter: drop-shadow(3px 8px 0px #1d1c1c5b);
  }

  .discount-content {
    color: #ffffff;
   position: relative;
    top: 15vh;
    right: 15vw; 
    z-index: 2;
    order: 2;
  }

  .discount-content > h4 {
    margin-left: 10px;
    font-size: 9px;
  }


  .discount-content > h1 {
    font-size: 24px;
    /* text-align: center; */
    font-family: "Fredoka One";
  }

  .dot{
    height: 16px;
    width: 16px;
    /* border: none; */
    border-radius: 50%;
  }

  .dots {
    width: 90vw;
    margin: auto;
    padding: 0rem;
    margin-left: -4vw;
    margin-top: 1vh;
    /* margin-left: -19vw;
    margin-top: -5vh;
    margin-bottom: -4vh;
    gap: 4.3vw; */
  }


  div.right-section > button {
    display: block;
    margin-left: 27vw;
    margin-top: 6vh;
    

 }

  
}
  

